* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1;
  background-color: #FFFFFF;
}

/**
 * resets
 */

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

/**
 * helpers
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*
 * app view
 */

.app {
  position: relative;
  height: inherit;
  width: inherit;
}

/**
 * jumbotron view
 */

.jumbotron {
  height: inherit;
  width: inherit;
  padding: 4%;
  background-image: url(/img/salad-fingers.png);
  background-size: cover;
  background-position: 50%;
}

.app.content-view .jumbotron {
  display: none;
}

.jumbotron h2 {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}

.jumbotron h1 {
  margin-bottom: 16px;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
}

.jumbotron a.next {
  color: #8d0000;
  font-weight: 300;
  text-decoration: underline;
}

/**
 * container
 */

.container {
  display: none;
  width: 640px;
  margin: 16px auto;
}

.app.content-view .container {
  display: block;
}

.container > div {
  width: 100%;
}

/**
 * banner view
 */

.banner {
  padding: 32px 16px;
  margin-bottom: 16px;
  text-align: right;
  background: #D6E3EB;
}

.banner h2 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}

.banner h3 {
  font-size: 1em;
  font-weight: 300;
}

/**
 * progress view
 */

.progress {
  height: 48px;
  margin-bottom: 16px;
}

.progress .bar {
  height: inherit;
  width: 100%;
  background: #859556;
}

/**
 * image view
 */

.image {
  margin-bottom: 32px;
}

.image img {
  width: 100%;
}

/**
 * content view
 */

.content .content-header {
  position: relative;
  margin-bottom: 32px;
}

.content .content-header img {
  display: block;
  position: absolute;
  top: 0;
  left: 8px;
  width: 32px;
}

.content .content-header h2 {
  padding: 8px 8px 8px 48px;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.content h2 {
  margin-bottom: 16px;
}

.content ul {
  margin-bottom: 32px;
}

.content ul li {
  margin-bottom: 16px;
}

.content ul.agility {
  padding-left: 32px;
}

.content ul.agility li {
  list-style: disc;
}

.content ul.agility li span {
  font-size: .75em;
  font-style: italic;
}

.content ul li label {
  display: block;
  color: #999999;
  font-weight: 300;
  text-transform: uppercase;
}

.content ul li div {
  font-size: 1.25em;
  font-weight: 800;
}

/**
 * next button
 */
.next {
  display: inline-block;
  padding: 16px 24px;
  color: #FFFFFF;
  background: #8d0000;
  border: 1px solid #730000;
  border-radius: 4px;
}

.next:hover {
  cursor: pointer;
  background: #7F0000;
}
